:root {
    --first-bg-color: black;
    --second-bg-color: royalblue;
    --third-bg-color: lightgrey;
    --first-txt-color: white;
    --second-txt-color: black;
    --third-txt-color: royalblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body start*/
body {
    background-color: var(--third-bg-color);
    color: var(--second-txt-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
/* body end */

/* header start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--first-bg-color);

}

header h1 {
    font-size: 36px;
    font-weight: bold;
    background-color: var(--second-bg-color);
    color: var(--second-txt-color);
    padding: 5px 15px;
    border-radius: 15px;
}

header a {
    color: var(--first-txt-color)
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 50px 15px;
    margin: 0px 20px;
    font-size: 1.55vw;
    text-shadow: 1px 1px 15px rgba(200, 200, 200, 0.8);
}

header nav ul li a:hover {
    background: var(--second-bg-color);
    color: var(--second-txt-color);
    border-radius: 15px;
}
/* header end */

/* footer start */
footer {
    display: flex;
    justify-content: center;
    padding: 20px 35px;
    background-color: var(--first-bg-color);
    color: var(--first-txt-color);
    text-align: center;
}

footer span {
    color: var(--third-txt-color);
}
/* footer end */

/* section start */
section {
    padding: 60px;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    background-color: var(--second-bg-color);
    color: var(--second-txt-color);
    padding: 5px 15px;
    border-radius: 15px;
}
/* section end */

/* about me start*/
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.2;
    margin-top: 30px;
}

.about-me img {
    width: 20%;
    margin: 3.5%;
    border: 5px solid black;
}

.bio {
    text-align: left;
    width: 50%;
    margin: 7%;
    font-size: 18px;
}
/* about me end */

/* my work start */
.my-work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin: 20px;
    background-color: var(--first-bg-color);
    color: var(--first-txt-color);
    flex: 0 1 400px;
    filter: opacity(50%);
}

.project:hover {
    filter: opacity(100%);
}

.project:first-child {
    flex: 1 90%;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 5px;
    width: 25%;
    line-height: 1.1;
}

.project-info h3 {
    font-weight: bold;
    font-size: 28px;
}

.project-info h4 {
    font-style: italic;
    font-weight: lighter;
    font-size: 22;
}
/* my work end */

/* contact me start */
.contact-info a {
    text-decoration: none;
    color: var(--second-txt-color)
}

.contact-info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 40px;
}

.contact-info ul li a {
    padding: 5px 15px;
    margin: 0px 35px;
    font-size: 28px;
}

.contact-info ul li a:hover {
    background: var(--second-bg-color);
    color: var(--second-txt-color);
    border-radius: 15px;
}
/* contact me end */

/* media queries */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 75%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        justify-content: space-evenly;
    }

    header nav ul li a {
        padding: 5px 15px;
        background: var(--second-bg-color);
        color: var(--second-txt-color);
        border-radius: 15px;   
        font-size: 20px; 
    }

    .about-me {
        width: 100%;
    }

    .about-me img {
        width: 29%;
    }

    .project:not(first-child) {
        justify-content: space-around;
        flex: 1 1 30%;
    }

    .contact-info{
        justify-content: center;
    }

    .contact-info ul li{
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }

    .contact-info ul li a {
        background: var(--second-bg-color);
        color: var(--second-txt-color);
        border-radius: 15px;
        font-size: 4vw;
        }
}

@media screen and (max-width: 768px) {
    .about-me img, .bio {
        width: 100%
    }
    .project:not(first-child) {
        flex: 1 1 28%;
    }

    .project-info {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    header {
        width: 100%;
    }

    header h1 {
        width: 100%;
    }
    header nav ul li a{
        flex: 0, 100%;
        font-size: 4vw;
    }

    .project:not(first-child) {
        flex: 1 1 35%;
    }

    .section-title {
        font-size: 24px;
    }
}